## Prediccion 1

In [73]:
import pickle
import pandas as pd

In [74]:
df_test = pd.read_csv("df_test.csv", sep=',', encoding='UTF-8')
df_test.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,cut_encoded,color_encoded,clarity_encoded
0,0,0.32,Ideal,I,SI1,60.5,58.0,4.43,4.49,2.70,2,5,2
1,1,1.24,Premium,I,SI1,62.9,60.0,6.80,6.74,4.26,3,5,2
2,2,1.66,Premium,D,SI1,62.0,59.0,7.55,7.60,4.70,3,0,2
3,3,0.75,Premium,D,SI2,60.6,56.0,5.94,5.90,3.59,3,0,3
4,4,1.50,Fair,E,SI2,64.8,55.0,7.26,7.15,4.67,0,1,3

In [75]:
# standardization
with open('estandarizacion.pkl', 'rb') as estandarizacion:
    estandarizacion = pickle.load(estandarizacion)

In [38]:
# model
with open('mejor_modelo.pkl', 'rb') as modelo:
    modelo = pickle.load(modelo)

In [76]:
# we standardize all the columns that are of numeric type using the transformer that we saved when we made the model

estandarizadas = pd.DataFrame(estandarizacion.transform(df_test[["carat", "depth", "table", 
                           "x", "y", "z"]]), columns = ["carat", "depth", "table", 
                           "x", "y", "z"])
estandarizadas

          carat     depth     table         x         y         z
0     -1.081209 -1.307837  0.334662 -1.152046 -1.107430 -1.208067
1      1.308313  1.072250  1.312968  0.987461  0.937196  1.075010
2      2.399182  0.179718  0.823815  1.664520  1.718698  1.718955
3      0.035633 -1.208667 -0.643644  0.211100  0.173869  0.094457
4      1.983613  2.956486 -1.132797  1.402724  1.309773  1.675049
...         ...       ...       ...       ...       ...       ...
13480  0.944690 -2.200370  1.312968  0.933297  0.900847  0.694497
13481  0.425229  0.278888  1.312968  0.391649  0.446486  0.445700
13482 -1.133156  0.278888 -1.964357 -1.269403 -1.261913 -1.237338
13483  1.334286 -2.200370  0.823815  1.177038  1.255249  0.987199
13484  0.191471 -0.216964  0.334662  0.229155  0.192044  0.196903

[13485 rows x 6 columns]

In [ ]:
# encoding cut
with open('data/encodingcut.pkl', 'rb') as cut:
    encoding_cut = pickle.load(cut)

# encoding color
with open('data/encodingcolor.pkl', 'rb') as color:
    encoding_color = pickle.load(color)

# encoding clarity
with open('data/encodingclarity.pkl', 'rb') as clarity:
    encoding_clarity = pickle.load(clarity)

In [77]:
df_test = df_test.drop(['carat','depth', 'table', 'x', 'y', 'z'], axis =1)
df_test.head()

   id      cut color clarity  cut_encoded  color_encoded  clarity_encoded
0   0    Ideal     I     SI1            2              5                2
1   1  Premium     I     SI1            3              5                2
2   2  Premium     D     SI1            3              0                2
3   3  Premium     D     SI2            3              0                3
4   4     Fair     E     SI2            0              1                3

In [78]:
df_final = pd.concat([estandarizadas, df_test], axis = 1)
df_final

,carat,depth,table,x,y,z,id,cut,color,clarity,cut_encoded,color_encoded,clarity_encoded
0,-1.081209,-1.307837,0.334662,-1.152046,-1.107430,-1.208067,0,Ideal,I,SI1,2,5,2
1,1.308313,1.072250,1.312968,0.987461,0.937196,1.075010,1,Premium,I,SI1,3,5,2
2,2.399182,0.179718,0.823815,1.664520,1.718698,1.718955,2,Premium,D,SI1,3,0,2
3,0.035633,-1.208667,-0.643644,0.211100,0.173869,0.094457,3,Premium,D,SI2,3,0,3
4,1.983613,2.956486,-1.132797,1.402724,1.309773,1.675049,4,Fair,E,SI2,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.944690,-2.200370,1.312968,0.933297,0.900847,0.694497,13480,Premium,G,SI1,3,3,2
13481,0.425229,0.278888,1.312968,0.391649,0.446486,0.445700,13481,Very Good,D,SI1,4,0,2
13482,-1.133156,0.278888,-1.964357,-1.269403,-1.261913,-1.237338,13482,Ideal,F,VS2,2,2,5
13483,1.334286,-2.200370,0.823815,1.177038,1.255249,0.987199,13483,Ideal,I,SI1,2,5,2
13484,0.191471,-0.216964,0.334662,0.229155,0.192044,0.196903,13484,Premium,F,SI1,3,2,2

In [79]:
df_final = df_final.reindex(['id', 'carat','depth', 'table', 'x', 'y', 'z',
                             'cut_encoded', 'color_encoded', 'clarity_encoded',], axis=1)
df_final

,id,carat,depth,table,x,y,z,cut_encoded,color_encoded,clarity_encoded
0,0,-1.081209,-1.307837,0.334662,-1.152046,-1.107430,-1.208067,2,5,2
1,1,1.308313,1.072250,1.312968,0.987461,0.937196,1.075010,3,5,2
2,2,2.399182,0.179718,0.823815,1.664520,1.718698,1.718955,3,0,2
3,3,0.035633,-1.208667,-0.643644,0.211100,0.173869,0.094457,3,0,3
4,4,1.983613,2.956486,-1.132797,1.402724,1.309773,1.675049,0,1,3
...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.944690,-2.200370,1.312968,0.933297,0.900847,0.694497,3,3,2
13481,13481,0.425229,0.278888,1.312968,0.391649,0.446486,0.445700,4,0,2
13482,13482,-1.133156,0.278888,-1.964357,-1.269403,-1.261913,-1.237338,2,2,5
13483,13483,1.334286,-2.200370,0.823815,1.177038,1.255249,0.987199,2,5,2
13484,13484,0.191471,-0.216964,0.334662,0.229155,0.192044,0.196903,3,2,2

In [83]:
arr = modelo.predict(df_final)

In [85]:
df = pd.DataFrame(arr, columns=['price'])
df.insert(0, 'id', range(0, len(df)))
df.head()

          price
0      6.136630
1      8.553260
2      9.505867
3      7.866707
4      8.951807
...         ...
13480  8.561049
13481  8.382403
13482  6.441276
13483  8.704464
13484  7.999539

[13485 rows x 1 columns]

In [ ]:
nombre_archivo = 'submission1.csv'

In [ ]:
df_final.to_csv(nombre_archivo, index=False)